body {
	margin-top: 50px;
}

#left-side {
}

.carousel-indicators {
	display: none;
}

.carousel-control {
	display: none;
}

.carousel-inner img{
}

#avatar {
}

#profile {
	margin-bottom: 40px;
}

#right-side {
	padding-right:20px;
}


